/* Base, not needed... */
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	color: #fff;
	background: -webkit-linear-gradient(-65deg, #16BFFD, #CB3066);
  	background: linear-gradient(-65deg, #16BFFD, #CB3066);
}

a {
	color: white;
}

/* Plyr, needed... */
.player-container {
	display: flex;
  align-items: center;
  justify-content: center;
	max-width: 100%;
	width: 100%;
	height: 100%;
}

.plyr {
	max-width: 160px;
	min-width: 0;
}

.plyr__controls {
	justify-content: flex-start;
}

.plyr--audio .plyr__controls {
	color: #fff;
	background: transparent;
}

.plyr__controls .plyr__controls__item:first-child {
    margin-left: 0;
		margin-right: 0;
}

.plyr__controls .plyr__controls__item {
    margin: 0;
}

#title {
	justify-content: flex-end;
}

.truncate {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fas {
	margin: 0 0 0 10px;
	font-size: 1.2rem;
}

#refresh {
	cursor: pointer;
}

#refresh:hover {
	cursor: pointer;
}

.fa-sync-alt:hover {
    animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background:rgba(0,0,0,0.6);
	color: white;
	text-align: center;
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
/* 	#title { display: block; }  */
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
/* 	#title { display: block; }  */
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}